<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>

<body>

<div class="container" style="background-color: coral ; margin: 30px" >
    <h2>This is About Page</h2>
    <p>
        Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Blanditiis,
        consequuntur cum dolores ducimus facere id ipsam ipsum iste,
        laboriosam odio odit possimus quis similique sit, soluta veniam
        vero voluptas voluptate?
    </p>
    <h1>That's it</h1>
</div>
</body>
</html>